<!DOCTYPE HTML>
<html>
	<head>
		<title>Generic | {{titulo}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		{{> headerAlt}}
		{{> navbar}}

		<!-- Content -->
		<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
			<div class="inner">
				<article class="box">
					<header>
						<h2>Nibh non lobortis mus nibh</h2>
						<p>01.01.2017</p>
					</header>
					<div class="content">
						<p>Ac pretium parturient et scelerisque dis pulvinar nascetur suspendisse justo parturient est quis adipiscing nisi dis eu ullamcorper. Penatibus aliquet vestibulum dis pretium a ullamcorper accumsan facilisis elit ullamcorper porttitor dictumst per a a potenti interdum fusce a adipiscing nostra ac parturient.</p>

						<p>Aliquet a consectetur semper suscipit ridiculus mattis augue volutpat hendrerit proin hac vel tristique quis amet parturient sem. Adipiscing laoreet blandit vestibulum laoreet fermentum sed sociis lorem class ipsum scelerisque porttitor viverra vestibulum nascetur.</p>

						<p>Arcu est vestibulum condimentum conubia tempus a porttitor quam urna adipiscing a adipiscing condimentum tortor cubilia parturient per senectus interdum felis suspendisse penatibus auctor pretium ac.</p>

						<p>A adipiscing a ac aliquet elit a senectus feugiat litora condimentum dignissim ullamcorper conubia venenatis torquent consectetur dui aptent dignissim condimentum suspendisse.</p>

						<p>Penatibus vestibulum ullamcorper diam commodo volutpat at a sodales dis id ut condimentum a arcu at nostra pretium urna suspendisse. Maecenas commodo adipiscing ad curabitur a a risus pulvinar habitant.</p>
					</div>
					<footer>
						<ul class="actions">
							<li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
							<li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
						</ul>
					</footer>
				</article>
			</div>
		</section>

		{{> footer}}

	</body>
</html>
